<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Application de gestion de compagnie aerienne</display-name>
  <context-param>
    <param-name>resultsNb</param-name>
    <param-value>2</param-value>
  </context-param>

<servlet>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.AccueilServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>VolDetailsServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.VolDetailsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>VolServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.VolServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.ReservationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BilletServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.BilletServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AeroportServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.AeroportServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ReservationPassagerServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.ReservationPassagerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AvionServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.AvionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ItineraireServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.ItineraireServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TarifVolServlet</servlet-name>
    <servlet-class>gestion_compagnie_aerienne.servlet.TarifVolServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>VolDetailsServlet</servlet-name>
    <url-pattern>/vol-details</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>VolServlet</servlet-name>
    <url-pattern>/vol</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/reservation</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BilletServlet</servlet-name>
    <url-pattern>/billet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AeroportServlet</servlet-name>
    <url-pattern>/aeroport</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ReservationPassagerServlet</servlet-name>
    <url-pattern>/reservation-passager</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AvionServlet</servlet-name>
    <url-pattern>/avion</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ItineraireServlet</servlet-name>
    <url-pattern>/itineraire</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TarifVolServlet</servlet-name>
    <url-pattern>/tarif-vol</url-pattern>
  </servlet-mapping>

</web-app>
